<!doctype html>


<div id="contact-form">
    <h1> Get In Touch! </h1>
    <form method="post" action="/signup">
      <label for="name">Name: </label>
      <input type="text" id="name" name="name" value="" placeholder="Your name here" required="required" autofocus="autofocus"  />
      <label for="contact">Email address: </label>
      <input type="email" id="contact" name="contact" value="" placeholder="Your email here" required="required" autofocus="autofocus" />
      <label for="email">County: </label>
      <input type="text" id="county" name="county" value="" placeholder="Your county here" required="required" autofocus="autofocus" />
      <input type="submit" value="signup" id="submit button" />


    </form>
</div>
